%h1.jumbotron.text-center= t('.title')

%table
  %thead
    %tr
      %th Album
      %th Artist
      %th Title


  %tbody
    - @tracks.each do |track|
      %tr
        %td= track.album.title
        %td= track.album.artist
        %td= track.title
        %td.alert.alert-dark{:role => "alert"}= link_to t('.show'), track
        %td.alert.alert-success{:role => "alert"}= link_to t('.edit'), edit_track_path(track)
        %td.alert.alert-danger{:role => "alert"}= link_to t('.delete'), track, method: :delete, data: { confirm: 'Are you sure?' }

%br
