%h1.jumbotron.text-center= t('.title')

%table
  %thead
    %tr
      %th Album
      %th Title


  %tbody
    - @tracks.each do |track|
      %tr
        %td= track.album.title
        %td= track.title
        %td= link_to t('.show'), track
        %td= link_to t('.edit'), edit_track_path(track)
        %td= link_to t('.delete'), track, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to t('.newtrack'), new_track_path
