/ Load an icon library to show a hamburger menu (bars) on small screens
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/


#myTopnav.topnav
  %a.active{:href => "/"} Home
  %a{:href => "/albums"} Album
  %a{:href => "/tracks"} Song
  %a{:href => "/contact"} Contact

  %a.icon{:href => "javascript:void(0);", :onclick => "myFunction()"}
    %i.fa.fa-bars

  %nav
    - if user_signed_in?
      = "#{current_user.email} |"
      = link_to t('.profile'), edit_user_registration_path
      = '|'
      = link_to t('.logout'), destroy_user_session_path, :method => :delete

    - else
      = link_to t('.login'), new_user_session_path
      = '|'
      = link_to t('.signup'), new_user_registration_path

    - flash.each do |key, value|
      = content_tag :div, content_tag(:p, value), id: "{key}" unless value.blank?
