%h1.jumbotron.text-center= t('.title')

%table
  %thead
    %tr
      %th Artist
      %th Title


  %tbody
    - @albums.each do |album|
      %tr
        %td= album.artist
        %td= album.title
        %td.alert.alert-dark{:role => "alert"}= link_to t('.show'), album
        %td.alert.alert-success{:role => "alert"}= link_to t('.edit'), edit_album_path(album)
        %td.alert.alert-danger{:role => "alert"}= link_to t('.delete'), album, method: :delete, data: { confirm: 'Are you sure?' }
        
%br

= link_to t('.newalbum'), new_album_path
