

%p
  %b Artist:
  = @album.artist
%p
  %b Title:
  = @album.title

%p Tracks:
%table
  %tbody
    - @album.tracks.each do |track|
      %tr{id: "track_#{track.id}"}
        %td= track.title
        %td.alert.alert-dark{:role => "alert"}= link_to t('.show'),track
        %td.alert.alert-success{:role => "alert"}= link_to t('.edit'), edit_track_path(track)
        %td.alert.alert-danger{:role => "alert"}= link_to t('.destroy'), track, :method => :delete, :data => { :confirm => t('.areyousure')}, :remote =>true

  %p= link_to t('.addtrack'), new_track_path(album_id: @album)

%p Reviews:
%table
  %tbody
    - @album.reviews.each do |review|
      %tr{id: "review_#{review.id}"}
        %td= review.reviewtitle
        %td.alert.alert-dark{:role => "alert"}= link_to t('.show'),review
        %td.alert.alert-success{:role => "alert"}= link_to t('.edit'), edit_review_path(review)
        %td.alert.alert-danger{:role => "alert"}= link_to t('.destroy'), review, :method => :delete, :data => { :confirm => t('.areyousure')}, :remote =>true

  %p= link_to t('.addreview'), new_review_path(album_id: @album)

  = link_to t('.edit'), edit_album_path(@album)
  \|
  = link_to t('.back'), albums_path
