%h1.jumbotron.text-center= t('.title')

%table
  %thead
    %tr
      %th Album
      %th Reviewtitle
      %th Reviewbody


  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.album.title
        %td= review.reviewtitle
        %td= review.reviewbody
        %td.alert.alert-dark{:role => "alert"}= link_to t('.show'), review
        %td.alert.alert-success{:role => "alert"}= link_to t('.edit'), edit_review_path(review)
        %td.alert.alert-danger{:role => "alert"}= link_to t('.delete'), review, method: :delete, data: { confirm: 'Are you sure?' }

%br
